{% extends "base_generic.html" %}

{% block content %}

<h1><strong> Title: {{book.title}} </strong></h1>
<h3><strong>Author: </strong> <a href="{% url 'author_detail' book.author.pk %}"> {{book.author}} </a></h3>
<br>
<p><strong> Summary: </strong> {{book.summary}} </p>
<p><strong> Genre: </strong> {{book.display_genre}} </p>
<p><strong> ISBN: </strong> {{book.isbn}} </p>
<p><strong> Languages: </strong> {{book.language}} </p>

<hr>

<div style="margin-left: 30px;">
    <h2>Book Copied</h2>

{% comment %}     
        <ul>

            {% if book.bookcopy_set.all %}
 
                        Use Below Function to "Reverse_Lookup" One-to-Many Relations to MANY-TO-ONE 
                        Between Model - Bookinstance to Book
    
                {% for copied in book.bookcopy_set.all %}
                            Code to Iterate across each copy/instance of Book to follow

                            With FOR LOOP - the Value of {{copied}} will 
                            return the __str__ Value as specified under its Model
    
                    <li> <a href="">{{ copied }}</a> </li>
                {% endfor %}
            
            {% else %}
                <p>There is <strong> NO Book Copied </strong> of: <strong> {{book.title}} </strong> </p>
            {% endif %}
                        
        </ul>
{% endcomment %}

    {% if book.bookcopy_set.all %}

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Book Instance</th>
                <th scope="col">Status</th>
                <th scope="col">Due Back Date</th>
              </tr>
            </thead>
            <tbody>
                {% for copied in book.bookcopy_set.all %}
                {% comment %} all data of each Book Copy will be looped {% endcomment %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href=""> {{ copied }} </a></td>  {% comment %} the value of __str__ will be returned {% endcomment %}

                    {% if copied.status == 'm' %}
                    <td class = 'text-secondary'> Maintenance </td>  

                    {% elif copied.status == 'o' %}
                    <td class = 'text-danger'> On Loan </td>

                    {% elif copied.status == 'a' %}
                    <td class = 'text-success'> Available </td>

                    {% elif copied.status == 'r' %}
                    <td class = 'text-warning'> Reserved </td>

                    {% endif %}

                    {% comment %} Using Django Template Tag to get Human-Readable Name of a model field that has choices {% endcomment %}
                    {% comment %} {{get_FOO_display}} - FOO is the Model Field Name {% endcomment %}
                    {% comment %} <td> {{ copied.get_status_display }} </td> {% endcomment %}

                    <td> {{ copied.due_back }} </td>

                  </tr>
                {% endfor %}

    {% else %}
        <p>There is <strong> NO Book Copied </strong> of: <strong> {{book.title}} </strong> </p>
    {% endif %}


</div>



{% endblock content %}

