{% extends "base_generic.html" %}

{% block content %}

    <h2>Book List View</h2>

    {% comment %} Check if the object 'book_list' - based off Data of Book Model - exists  {% endcomment %}
    {% if book_list %}
        <ul>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Action?</th>
                  </tr>
                </thead>
                <tbody>
                  {% comment %} for Looping Through all Item/Data in book_list - based off Book Model {% endcomment %}
                  {% for book in book_list %}
                  <tr>
                      {% comment %} forloop.counter is for setting Number Counter 1, 2, 3... {% endcomment %}
                    <th scope="row"> {{forloop.counter}} </th>
                    <td> <a href=" {{book.get_absolute_url}} "> {{book.title}} </a> </td>
                    <td> {{book.display_genre}} </td>
                    <td> {{book.isbn}} </td>
                    <td> <a href="{% url 'book-update' book.pk %}" style="text-decoration: none;"> 
                      Update </a> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

        </ul>

    {% else %}
        <p>There is no Book in Library.</p>

    {% endif %}

{% endblock content %}

