{% extends "base_generic.html" %}

{% block content %}

    <h1>All Borrowed Books</h1>

    {% if bookcopy_list %}
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Due Back</th>
            <th scope="col">Borrower</th>
            <th scope="col">Extend Return Date</th>
          </tr>
        </thead>
        <tbody>
            {% for bookcopied in bookcopy_list %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td> <a href="{{ bookcopied.book.get_absolute_url }}"> {{ bookcopied.book.title }} </a></td>

            <td class="{% if bookcopied.is_over_due %} text-danger {% else %} text-success {% endif %}" > {{ bookcopied.due_back }} </td>
            
            <td> {% if user.is_staff %} {{ bookcopied.borrower }} {% endif %} </td>
          
            <td> <a href=" {% url "renew-book-librarian" bookcopied.pk %}"> Renew </a> </td>
          </tr>
            {% endfor %}
    
    {% else %} 
    <p>There are No Borrowed Book.</p>

    {% endif %}

{% endblock content %}